<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Transporter</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Transporter", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Trucks", "Index", "Trucks")</li>
                    <li>@Html.ActionLink("OrderProduct", "Index", "OrderProduct")</li>
                    <li>@Html.ActionLink("WarehouseProduct", "Index", "WarehouseProduct")</li>
                    <li>@Html.ActionLink("Orders", "Index", "Orders")</li>
                    @if (Session["Login"] != null && Session["Type"].ToString() == "admin")
                    {
                        <li>@Html.ActionLink("Managers", "Index", "Managers") </li>
                        <li>@Html.ActionLink("Admin", "Admin", "Home")</li>
                        <li style="margin-left:30px"><a href="@Url.Action("Logout", "Home")">Logout</a></li>
                    }
                    else if (Session["Login"] != null && Session["Type"].ToString() == "customer")
                    {
                        <li style="margin-left:30px"><a href="@Url.Action("Logout", "Home")">Logout</a></li>
                    }
                    else if (Session["Login"] != null && Session["Type"].ToString() == "manager")
                    {
                        <li style="margin-left:30px"><a href="@Url.Action("Logout", "Home")">Logout</a></li>
                    }
                    else if (Session["Login"] != null && Session["Type"].ToString() == "employee")
                    {
                        <li style="margin-left:30px"><a href="@Url.Action("Logout", "Home")">Logout</a></li>
                    }
                    else
                    {
                        <li style="margin-left:30px">@Html.ActionLink("Login", "Login", "Home")</li>
                        <li>@Html.ActionLink("Register", "Register", "Home")</li>
                    }

                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Transporter</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
