@model FirmaTransportowa.Models.Transport

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Transport</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Order.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Order.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Route.RouteID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Route.RouteID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RouteID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RouteID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TruckID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TruckID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmployeeID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DepartureDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DepartureDay)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TransportID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
