@model FirmaTransportowa.Models.Manager

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Manager</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ManagerID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ManagerID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersonDetails.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonDetails.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersonDetails.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonDetails.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersonDetails.Phone)
        </dt>

        <dd>
            +48 @Html.DisplayFor(model => model.PersonDetails.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersonDetails.Address.Country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonDetails.Address.Country)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersonDetails.Address.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonDetails.Address.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersonDetails.Address.PostalCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonDetails.Address.PostalCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersonDetails.Address.Street)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonDetails.Address.Street)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ManagerID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
