@model FirmaTransportowa.Models.Truck

@{
    ViewBag.Title = "Delete";
}

<h2>Usuń ciężarówkę</h2>

<h2>Czy chcesz na pewno usunąć ciężarówkę?</h2>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TruckID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TruckID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RegistrationNr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegistrationNr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Brand)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Brand)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Model)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Model)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductionYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductionYear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mileage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mileage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VIN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VIN)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Usuń" class="btn btn-warning" /> |
            @Html.ActionLink("Powrót do listy", "Index")
        </div>
    }
</div>
