@model IEnumerable<FirmaTransportowa.Models.Truck>

@{
    ViewBag.Title = "Index";
}

<h2>Ciężarówki</h2>

<p>
    @Html.ActionLink("Dodaj nową ciężarówkę", "Create")
</p>
<table class="table table-holver">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TruckID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegistrationNr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Brand)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Model)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductionYear)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mileage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VIN)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TruckID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RegistrationNr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Brand)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Model)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductionYear)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mileage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VIN)
        </td>
        <td>
            @Html.ActionLink("Edytuj ciężarówkę", "Edit", new { id = item.TruckID }, new { @class = "btn btn-warning" })
            @Html.ActionLink("Szczegóły ciężarówki", "Details", new { id = item.TruckID }, new { @class = "btn btn-info" })
            @Html.ActionLink("Usuń ciężarówkę", "Delete", new { id = item.TruckID }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
